/* style sheet for classes that come with react-elastic-carousel package */
.rec.rec-arrow {
  border-radius: 300;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
}

button.rec.rec-arrow:hover,
button.rec.rec-arrow:active,
button.rec.rec-arrow:focus {
  background-color: black;
}

.rec.rec-pagination {
  background-color: white;
  color: black;
}

.rec.rec-dot {
  background-color: white;
  box-shadow: 0 0 2px 2px rgb(0 0 0 / 50%);
  height: 25px;
  width: 25px;
}

.rec.rec-dot:hover {
  background-color: black;
  box-shadow: 0 0 4px 4px rgb(0 0 0 / 50%);
}

.rec.rec-dot_active,
.rec.rec-dot_active::selection {
  background-color: white;
  box-shadow: 0 0 4px 4px rgb(0 0 0 / 50%);
}

button.rec-dot:hover,
button.rec-dot:active,
button.rec-dot:focus {
  box-shadow: 0 0 1px 3px black;
}
